<div class="profile-container">
    <ul class="profile-menu">
      <li><i class="bi bi-person-fill"></i> <a routerLink="/app/menuProfile">Profile</a></li> 
      <li><i class="bi bi-wallet-fill"></i> <a routerLink="/app/control-panel">My Balance</a></li> 
      <li><i class="bi bi-envelope-fill"></i> Inbox</li>
      <li><i class="bi bi-gear-fill"></i> Settings</li>
      <li><i class="bi bi-check-circle-fill"></i> Available</li>
      <li class="logout"><i class="bi bi-box-arrow-right"></i><a routerLink="" > Log Out</a></li>
    </ul>
  </div>
  