<div class=" contenedorPadre container mt-4 bg-dark text-white">
      <div>
        <i class="bi bi-calendar text-sucess fs-4"></i>
        <p>Calendar</p>
      </div>
      <div class="div2">
        <i class="bi bi-envelope text-success fs-4"></i>
        <p>Email</p>
      </div>
      <div class="div3">
        <i class="bi bi-cloud-sun text-secondary fs-4"></i>
        <p>Weather</p>
      </div>
      <div>
        <i class="bi bi-person-lines-fill text-info fs-4"></i>
        <p>Contact</p>
      </div>
      <div>
        <i class="bi bi-chat-dots text-danger fs-4"></i>
        <p>Chat</p>
      </div>
      <div>
        <i class="bi bi-geo-alt text-secondary fs-4"></i>
        <p>Map</p>
      </div>
        </div>